.navbar{
    background-color: teal;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo-container{
    color: white;
    margin-left: 20px;
}

.nav-container ul li {
    display: inline;
    margin: 0px 40px;
}
.nav-container ul li a{
    text-decoration: none;
    color: tomato;
    font-size: 20px;
    font-weight: bold;
}
.nav-container ul li :hover{
    border: 2px solid black;
    padding: 5px;
}